<div class="banner d-flex align-items-center justify-content-center">
  <div class="mx-10 px-6">
    <h1 class="heading-colour font-weight-900 text-responsive-heading">Account Settings</h1>
    <br>
    <% # <h2 class="text-white font-weight-900"><h2> %>
    <%# <p class="text-size text-white">Want to bring some goals back to life?</p> %>
  </div>
</div>

rail<div class= "registration">
<div class = "card">
  <div class= "card-block">
    <div class="container"></div>
      <div class="container">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= bootstrap_devise_error_messages! %>
        <div class="form-group">
          <div class = "d-flex flex-row">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <%= image_tag user_avatar(resource, 500), class: "rounded-circle-profile-picture" %>
                </div>
                <div class="col-12 col-sml-8 avatar-field">
                    <%= f.file_field :avatar %>
                </div>
              </div>
          </div>
        </div>
        <div class="form-floating mb-3">
                <%= f.email_field :email,
                                  autofocus: true,
                                  autocomplete: 'email',
                                  class: 'form-control',
                                  placeholder:"Email" %>
                <%= f.label :email %>
        </div>

        <div class="form-floating mb-3">
                <%= f.number_field :investment,
                                  autocomplete: 'investment',
                                  class: 'form-control',
                                  placeholder:"Investment Amount" %>
                <%= f.label :Investment_amount %>
        </div>

        <div class="form-floating mb-3">
                <%= f.password_field :password,
                                      autocomplete: 'new-password',
                                      class: 'form-control',
                                      placeholder: "New password" %>
                <small class="form-text text-muted"><%= t('.Leave_blank_if_you_do_not_want_to_change_it') %></small>
                <%= f.label :new_password %>
        </div>

        <div class="form-floating mb-3">
                <%= f.password_field :password_confirmation,
                                      autocomplete: 'new-password',
                                      class: 'form-control',
                                      placeholder: "New password Confirmation"  %>
                <%= f.label :new_password_confirmation %>
        </div>

        <div class="form-floating mb-3">
              <%= f.password_field :current_password,
                                    autocomplete: 'current-password',
                                    class: 'form-control',
                                    placeholder: "Current password" %>
              <small class="form-text text-muted"><%= t('.Please_enter_current_password_to_confirm_your_changes') %></small>
              <%= f.label :current_password %>
        </div>

        <div class="form-floating mb-3">
          <%= f.submit t('.update'), class: 'btn btn-primary' %>
        </div>
      <% end %>

      <p><%= button_to "Delete Account", destroy_user_path(current_user), method: :delete, class: "btn btn-danger", :onclick => "return confirm('WARNING! This will delete everything associated with your account. Are you sure?')" %></p>

      <%= link_to t('.back'), :back, class: "btn btn-primary" %>
    </div>
  </div>
</div>
