<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="logo-div">
    <div class="logo">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "logo-removedbg.png" %>
      <% end %>
    </div>
    <p class="logo-text">One Dollar</p>
  </div>

  <div class="navbar-links">
    <%= link_to "Dashboard", dashboard_path, class: "nav-link hover:text-bold" %>
    <%= link_to "About", dashboard_path, class: "nav-link" %>
    <%= link_to "Contact Us", dashboard_path, class: "nav-link" %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= image_tag user_avatar(current_user, 500), class: "rounded-circle-navbar-profile-picture avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Account Information", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Financial Information", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
