<nav class="navbar" id="navbar">
      <ul class="navbar-nav">

          <li class="logo">
            <a href="/" class="nav-links">
              <span class="link-text logo-text">One Dollar</span>
              <%= image_tag("logo-removedbg.png", class: "logo-img") %>
            </a>
          </li>

          <li class="nav-item" id="Avatar">
            <a class="nav-links" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <%= image_tag user_avatar(current_user, 500), class: "avatar dropdown-toggle rounded-circle-navbar-profile-picture" %>
              <span class="link-text">
              <div class="d-flex justify-content-center align-items-center">
                <%= "#{current_user.first_name} #{current_user.last_name}" %>
                <i class="fa fa-chevron-down pull-right"></i>
              </div>
              </span>
            </a>
            <div class="collapse" id="collapseExample">
              <div class="nav-item nav-links" id="LogButton">
                <%= link_to edit_user_registration_path do %>
                <i class="fas fa-cogs"></i>
                <span class="link-text">Settings</span>
                <% end %>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <a href="/dashboard" class="nav-links">
              <i class="fas fa-chalkboard"></i>
              <span class="link-text">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/goals" class="nav-links">
              <i class="fas fa-bullseye"></i>
              <span class="link-text">Archived Goals</span>
            </a>
          </li>

          <li class="nav-item">
            <a href="/taxcalc" class="nav-links">
              <i class="fas fa-calculator"></i>
              <span class="link-text">Tax Calculator</span>
            </a>
          </li>

          <li class="nav-item nav-links">

            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>
              <span class="link-text">Log Out</span>
            <% end %>
          </li>
      </ul>
    </nav>
