<div class="main">
  <div class="jumbotron text-center">
    <h1 class="display-4"><b><%= "Welcome back, #{current_user.first_name} #{current_user.last_name}!"%></b></h1>
    <p class="lead">Some Random Quotes (To Be Changed): <%= Faker::Movie.quote %></p>
    <hr class="my-4">
    <p><b>What do you feel like doing today?</b></p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="goals/new" role="button">Add A New Goal</a>
    </p>
    <br>
    <br>
    <% if @total_invested > @investment %>
      <p>Remaining Surplus Cash: <span style="color:red; font-weight:bold"> $<%= @total_invested %> </span> / $<%= @investment %></p>
    <% else %>
      <p>Remaining Surplus Cash:  <span style="color:#12D69F; font-weight:bold"> $<%= @total_invested %> </span> / $<%= @investment %></p>
    <% end%>
  </div>

  <div class="container">
    <div class="row">
        <% @goals.each do |goal| %>
          <% if goal.user == current_user && goal.archived == false %>
            <div class="col-4">
              <div class="card mb-4 h-100">
                <div class="inner-card p-3">
                  <div class="float-right">
                    <%= link_to goal_path(goal) do %>
                      <i class="fas fa-trophy"></i>
                    <% end %>
                    <%= link_to edit_goal_path(goal) do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to archive_goal_path(goal), method: :post, :onclick => "return confirm('Are you sure you want to archive this goal?')" do %>
                      <i class="fas fa-archive"></i>
                    <% end %>
                  </div>
                  <div class="card-top">
                    <img class="card-img-top" src="https://source.unsplash.com/random" alt="Card image caption">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title text-truncate">Title: <%= goal.title %></h5>
                    <p class="card-text text-truncate">Description: <%= goal.description %></p>
                    <p class="card-text">Goal Amount: <%= goal.amount %></p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">TO DO: Days till completion</small>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
