<div class="main">
  <div class="jumbotron text-center">
    <h1 class="display-4"><b><%= "Welcome back, #{current_user.first_name} #{current_user.last_name}!"%></b></h1>
    <hr class="my-4">
    <p><b>Need a goal suggestion?</b></p>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Click Me!
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Goal Suggestion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= @goal_suggestions[rand(0..@goal_suggestions.length)] %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <% if @total_invested > @investment %>
      <p>Total Surplus Cash / Week = $<%= @investment %></p>
      <p>Total Invested / Week = $<%= @total_invested %></p>
      <p>Deficit / Week = <span style="color:red; font-weight:bold">$<%= @investment - @total_invested %></span></p>
      <br>
      <p><span style="color:red; font-weight:bold; font-size: 24px;">Warning!</span> You are currently over-budget. Please reduce goal amounts or increase weekly investments!</p>
    <% else %>
      <p>Total Surplus Cash / Week = $<%= @investment %></p>
      <p>Total Invested / Week = $<%= @total_invested %></p>
      <p>Remaining Surplus / Week = <span style="color:#12d69f; font-weight:bold">$<%= @investment - @total_invested %></span></p>
    <% end%>
  </div>

  <div class="container">
    <div class="row">
        <% @goals.each do |goal| %>
          <% if goal.user == current_user && goal.archived != true %>
            <div class="col-4">
              <div class="card mb-4 h-100">
                <div class="inner-card p-3">
                  <div class="float-right">
                    <%= link_to goal_path(goal) do %>
                      <i class="fas fa-trophy"></i>
                    <% end %>
                    <%= link_to edit_goal_path(goal) do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <i class="fas fa-archive" id="archive-goal-sweet-alert"></i>
                    <%= link_to "", archive_goal_path(goal), method: :post, id: "archive-goal", class: "hidden" %>
                  </div>
                  <div class="card-top">
                    <img class="card-img-top" src="https://source.unsplash.com/random" alt="Card image caption">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title text-truncate">Title: <%= goal.title %></h5>
                    <p class="card-text text-truncate">Description: <%= goal.description %></p>
                    <p class="card-text">Goal Amount: <%= goal.amount %></p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Due Date: <%= goal.date %></small>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="col-4 d-flex justify-content-center align-items-center card-min-height">
          <%= link_to new_goal_path do %>
            <i class="far fa-plus-square add-goal-button"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
