<div class="home-container">
  <div class="banner d-flex justify-content-evenly align-items-center">
    <div class="log-in-sign-up d-flex">
    <% if !user_signed_in? %>
      <span><%= link_to "Log In", new_user_session_path, class: "btn-green log-in-button"%></span>
      <span><%= link_to "Sign Up", new_user_registration_path, class: "btn-green sign-up-button"%></span>
    <% end %>
    </div>
    <div class="text-responsive">
        <h1 class="font-weight-900 text-responsive-heading">Start saving for <br> your goals in life</h1>
        <p>Save your gold, achieve your goals!</p>
    </div>
    <div>
      <%= image_tag "goldcoins.png", class: "image-size", alt: "captivating saving image" %>
    </div>
  </div>
  <div class="text-container text-responsive p-3 text-colour mx-auto my-5">
    <h1 class="text-center font-weight-900 text-responsive-middle">Create a <span style="color: #12d69f">plan</span> and stick to it </h1>
    <p class="text-center text-responsive">It's hard to get started, that's why we've done all the work for you</p>
  </div>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "localhost_3000_dashboard(cards).png", crop: :fill, class: "d-block w-50 mx-auto img-fluid", alt: "first slide" %>
        <div class="carousel-caption d-none d-md-block">
          <%# <h5>First slide label</h5> %>
          <p class="text-colour">Track your goals</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "localhost_3000_dashboard(new).png", crop: :fill, class: "d-block w-50 mx-auto img-fluid", alt: "first slide" %>
        <div class="carousel-caption d-none d-md-block">
          <% # <h5>First slide label</h5> %>
          <p class="text-colour">Add new goals</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "localhost_3000_goals_121.png", crop: :fill, class: "d-block w-50 mx-auto img-fluid", alt: "first slide" %>
        <div class="carousel-caption d-none d-md-block">
          <%# <h5>Second slide label</h5> %>
          <p class="text-colour">View your goals</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "localhost_3000_taxcalc.png", crop: :fill, class: "d-block w-50 mx-auto img-fluid", alt: "first slide" %>
        <div class="carousel-caption d-none d-md-block">
          <%# <h5>Third slide label</h5> %>
          <p class="text-colour">Calculate how much to save</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
</div>
