<div class="banner w-100">
  <div class="mx-10 p-6 mb-0">
    <h1 class="heading-colour font-weight-900 my-7">Create a new goal</h1>
    <br>
    <% # <h2 class="text-white font-weight-900"><h2> %>
    <%# <p class="text-size text-white">What makes you happy?</p> %>
  </div>
</div>

<div class= "goalform">
  <div class = "card d-flex flex-row">
    <div class= "card-block">
        <div class="container" id="registration-header">
          <div class="row">
            <div class="col-12 col-lg-12">
              <h1><!--<%= t('.create_a_new_goal') %>---></h1>
            </div>
          </div>
        </div>

          <%= simple_form_for @goal do |f| %>
            <div class="container">
              <div class="row">
                  <div class="col-8 mb-3">
                    <div class="form-floating mb-3">
                      <%= f.text_field :title,
                                        autofocus: true,
                                        required: true,
                                        autocomplete: 'goal_title',
                                        class: 'form-control',
                                        type: "goal_title",
                                        id:"floatingGoalTitle",
                                        placeholder:"Goal Title" %>
                      <%= f.label :goal_title %>
                    </div>

                    <div class="form-floating mb-3">
                      <%= f.text_field :description,
                                        autofocus: true,
                                        required: true,
                                        autocomplete: 'description',
                                        class: 'form-control',
                                        type: "description",
                                        id:"floatingDescription",
                                        placeholder:"Description" %>
                      <%= f.label :description %>
                    </div>

                    <div class="form-floating mb-3">
                      <%= f.text_field :amount,
                                        autofocus: true,
                                        required: true,
                                        autocomplete: 'amount',
                                        class: 'form-control',
                                        type: "amount",
                                        id:"floatingAmount",
                                        placeholder:"Amount" %>
                      <%= f.label :amount %>
                    </div>

                    <div class="form-floating mb-3">
                      <%= f.text_field :recurring_investment,
                                        autofocus: true,
                                        required: true,
                                        autocomplete: 'investmentperweek',
                                        class: 'form-control',
                                        type: "investmentperweek",
                                        id:"floatingInvestmentPerWeek",
                                        placeholder:"Investment per week" %>
                      <%= f.label :investment_per_week %>
                    </div>

                    <div class="form-floating mb-3">
                      <%= f.input :date,
                                  as: :string,
                                  autofocus: true,
                                  required: true,
                                  class: 'form-control',
                                  input_html: {class: "datepicker"},
                                  :label => "When would you like to achieve this goal by? P/S: Be Reasonable" %>
                    </div>
                  </div>
                  <div class="add-photo-form col-4 mb-3">
                    <%= image_tag goal_photo(goal, 500), class: "goal-picture" %>
                    <%= f.input :photo,
                                as: :file,
                                :label => "Add a custom photo to your goal"%>
                  </div>

                  <%= f.submit "Save", class: "btn btn-primary save-button" %>


              </div>
            </div>
            <% end %>
          </div>
       </div>
    </div>
  </div>
</div>
