<div class="banner d-flex align-items-center justify-content-center">
  <div class="mx-10 p-6">
    <h1 style="text-align: center;" class="heading-colour font-weight-900 align-middle text-responsive-heading">Archived Goals </h1>
    <br>
    <p style="text-align: center;" class="text-size text-white">Want to bring some goals back to life?</p>
  </div>
</div>

  <div class="container">
    <div class="row">
        <% @goals.each do |goal| %>
          <% if goal.user == current_user && goal.archived == true %>
            <div class="col-4">
              <div class="card mb-4 h-100 goal-card inner-card mt-3">
                <%= link_to goal_path(goal), class:"goal-card-link-show linkable" do %><% end %>
                  <div class="p-3">
                    <div class="float-right d-flex flex-column card-icon">
                      <i class="fas fa-box-open card-icon unarchive-goal-sweet-alert" data-unarchive-button="<%= goal.id %>"></i>
                      <%= link_to "", unarchive_goal_path(goal), method: :post, id: "unarchive-goal-#{goal.id}", class: "hidden" %>
                    </div>
                    <div class="card-top">
                      <%= image_tag goal_photo(goal, 500), class: "card-img-top" %>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title text-truncate">Title: <%= goal.title %></h5>
                      <p class="card-text text-truncate">Description: <%= goal.description %></p>
                      <p class="card-text">Goal Amount: $<%= goal.amount %></p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Due Date: <%= goal.date %></small>
                    </div>
                  </div>
                </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
